<<<<<<< HEAD
body {
    font-family: 'Montserrat';
    color: black
  }

  header {
    padding: 20px;
    font-style: bold;
    font-weight: bolder;
=======
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	font-family: 'Montserrat';
  color:black;
}


  header {
    padding: 20px;
>>>>>>> f3ff0c42b53ba62d505b7dc7c43c3c6d91f5cc42
    font-size: 25px;
    text-align: center;
  }

  h1 {
    margin: 0;
<<<<<<< HEAD
=======
    font-weight: bold;
>>>>>>> f3ff0c42b53ba62d505b7dc7c43c3c6d91f5cc42
  }
  #search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
<<<<<<< HEAD
    padding: 0 20px;
=======
    padding: 0 18px;
>>>>>>> f3ff0c42b53ba62d505b7dc7c43c3c6d91f5cc42
    width: 100%;
  }
  #search-bar {
    width: 100%;
    padding: 20px;
    background: #FFFFFF;
<<<<<<< HEAD
    border: 1.3px solid #B3B3B3;
=======
    border: 2px solid #B3B3B3;
>>>>>>> f3ff0c42b53ba62d505b7dc7c43c3c6d91f5cc42
    border-radius: 10px;
    margin-right: 20px;
    height: 45px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    display: flex;
    align-items: center;
    outline: none;
  }

 
  #search-btn {
    justify-content: center;
    align-items: center;
    background: #000000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 50px;
    height: 45px;
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
    color: #FFFFFF;
  }

  #search-btn:hover {
    background: #FFFFFF;
    color: #000000;
    border: 1.3px solid #B3B3B3;
   
  }

  #recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
<<<<<<< HEAD
    margin: 20px 0px;
=======
>>>>>>> f3ff0c42b53ba62d505b7dc7c43c3c6d91f5cc42
    padding: 20px;
  }

  .recipe-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
<<<<<<< HEAD
    padding: 10px 10px 0px 10px;
    background: #F6F6F6;
    border-radius: 15px;
=======
    padding: 12px;
    background: #F6F6F6;
    border-radius: 15px;
    position: relative;
>>>>>>> f3ff0c42b53ba62d505b7dc7c43c3c6d91f5cc42
  }
  .recipe-img {
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
<<<<<<< HEAD
    margin-bottom: 15px;
    aspect-ratio: 1/1;
  }
  .recipe-name {
    font-style: bold;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    height: 100%;
=======
    margin-bottom: 20px;
    aspect-ratio: 1/1;
  }
  .recipe-name {
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
>>>>>>> f3ff0c42b53ba62d505b7dc7c43c3c6d91f5cc42
  }

  .recipe-details {
    display: flex;
<<<<<<< HEAD
    justify-content: center;
    width: 100%;
  }
  .recipe-time,
  .recipe-calories{
    padding: 5px;
    font-size: 14px;
  }

  .recipe-time i{
    padding-right: 5px;
  }

  .recipe-calories i{
    padding-right: 5px;
  }

  .recipe-missing{
    font-size: 12px;
    color: red;
  }
 
  .scanner-btn{
    position:fixed;
    width:80px;
    height:80px;
    right: 5%;
    top: 80%;
    background-color:#000000;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    border: 8px solid #FFFFFF;
    box-shadow: 2px 2px 3px #999;
    align-items: center;
    padding: 10px;
=======
    justify-content:space-between;
    width: 100%;
    margin-top: 10px;
  }
  .recipe-time,
  .recipe-calories, i{
    padding-right: 4px;
    font-size: 12px;
  }

  i.bi-camera2 {
    font-size: 30px;
}

  .recipe-missing{
    position: absolute;
    top: 25px;
    left: 20px;
    background-color: rgb(255 255 255);
    color: #090303;
    padding: 2px 6px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 600;
    border: 1px solid rgb(186, 184, 184);
  }
 
  .scanner-btn{
    position: fixed;
    width: 80px;
    height: 80px;
    right: 5%;
    top: 80%;
    background-color: #2eab2f;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    border: 8px solid #FFFFFF;
    box-shadow: 2px 2px 3px #999;
    align-items: center;
    padding: 10px 10px 10px 15px;
>>>>>>> f3ff0c42b53ba62d505b7dc7c43c3c6d91f5cc42
    font-size: 30px;
  }
  
  .scanner-btn:visited{
    text-decoration: none;
    color: #ffffff;
  }

  .scanner:hover{
    background-color:#ffffff;
    border: 8px solid #000;
    color: #000;
  }
<<<<<<< HEAD
=======

  #unique-foods {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 10px;
  }

  #unique-foods span {
    background-color: #fff;
    border-radius: 20px;
    padding: 3px 10px;
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    border: 1px solid #e5e5e5;
    box-shadow: 2px 2px 3px #898989;
  }

  .no-results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .no-results-container p {
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  .no-results-container button {
    padding: 5px 15px;
    margin-top: 1rem;
    border-radius: 15px;
    background-color: green;
    color: white;
  }
  
>>>>>>> f3ff0c42b53ba62d505b7dc7c43c3c6d91f5cc42
  
  /* Media query for smaller screens */
  @media only screen and (max-width: 567px) {
    #recipe-grid {
<<<<<<< HEAD
      grid-template-columns: repeat(2, minmax(180px, 1fr));
      gap: 20px;
=======
      grid-template-columns: repeat(2, minmax(0px, 1fr));
      gap: 12px;
>>>>>>> f3ff0c42b53ba62d505b7dc7c43c3c6d91f5cc42
    }
    
    
  }

  /* Media query for larger screens */
  @media (min-width: 568px) {
    #recipe-grid {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }