body {
    font-family: Arial, sans-serif;
    color: black
  }

  header {
    padding: 20px;
    font-style: bold;
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
  }

  h1 {
    margin: 0;
  }
  #search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
  }
  #search-bar {
    width: 100%;
    padding: 20px;
    background: #FFFFFF;
    border: 1.3px solid #B3B3B3;
    border-radius: 10px;
    margin-right: 20px;
    height: 45px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    display: flex;
    align-items: center;
    outline: none;
  }

 
  #search-btn {
    justify-content: center;
    align-items: center;
    background: #000000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 50px;
    height: 45px;
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
    color: #FFFFFF;
  }

  #search-btn:hover {
    background: #FFFFFF;
    color: #000000;
    border: 1.3px solid #B3B3B3;
   
  }

  #recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 20px 0px;
    padding: 20px;
  }

  .recipe-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px;
    background: #F6F6F6;
    border-radius: 15px;
  }
  .recipe-img {
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    margin-bottom: 20px;
    aspect-ratio: 1/1;
  }
  .recipe-name {
    font-style: bold;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }

  .recipe-details {
    display: flex;
    justify-content:space-between;
    width: 100%;
    margin-top: 10px;
  }
  .recipe-time,
  .recipe-calories {
    font-size: 12px;
    font-style: normal;
    color: #000000;
  }

  i{
    padding-right: 5px;
  }

  .recipe-missing{
    font-size: 14px;
    color: red;
  }
 
  /* Media query for smaller screens */
  @media only screen and (max-width: 567px) {
    #recipe-grid {
      grid-template-columns: repeat(2, minmax(180px, 1fr));
      gap: 20px;
    }
    
    
  }

  /* Media query for larger screens */
  @media (min-width: 568px) {
    #recipe-grid {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }